In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("TSLA.csv")
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-06-29,19.000000,25.000000,17.540001,23.889999,23.889999,18766300
1,2010-06-30,25.790001,30.420000,23.299999,23.830000,23.830000,17187100
2,2010-07-01,25.000000,25.920000,20.270000,21.959999,21.959999,8218800
3,2010-07-02,23.000000,23.100000,18.709999,19.200001,19.200001,5139800
4,2010-07-06,20.000000,20.000000,15.830000,16.110001,16.110001,6866900
...,...,...,...,...,...,...,...
2411,2020-01-28,568.489990,576.809998,558.080017,566.900024,566.900024,11788500
2412,2020-01-29,575.690002,589.799988,567.429993,580.989990,580.989990,17801500
2413,2020-01-30,632.419983,650.880005,618.000000,640.809998,640.809998,29005700
2414,2020-01-31,640.000000,653.000000,632.520020,650.570007,650.570007,15719300
2415,2020-02-03,673.690002,786.140015,673.520020,780.000000,780.000000,47065000

In [6]:
df["Date"]=pd.to_datetime(df["Date"])
df["Date"]

0      2010-06-29
1      2010-06-30
2      2010-07-01
3      2010-07-02
4      2010-07-06
          ...
2411   2020-01-28
2412   2020-01-29
2413   2020-01-30
2414   2020-01-31
2415   2020-02-03
Name: Date, Length: 2416, dtype: datetime64[ns]

In [8]:
df["year"]=df["Date"].dt.year
df["month"]=df["Date"].dt.month
df["day"]=df["Date"].dt.day
df

,Date,Open,High,Low,Close,Adj Close,Volume,year,month,day
0,2010-06-29,19.000000,25.000000,17.540001,23.889999,23.889999,18766300,2010,6,29
1,2010-06-30,25.790001,30.420000,23.299999,23.830000,23.830000,17187100,2010,6,30
2,2010-07-01,25.000000,25.920000,20.270000,21.959999,21.959999,8218800,2010,7,1
3,2010-07-02,23.000000,23.100000,18.709999,19.200001,19.200001,5139800,2010,7,2
4,2010-07-06,20.000000,20.000000,15.830000,16.110001,16.110001,6866900,2010,7,6
...,...,...,...,...,...,...,...,...,...,...
2411,2020-01-28,568.489990,576.809998,558.080017,566.900024,566.900024,11788500,2020,1,28
2412,2020-01-29,575.690002,589.799988,567.429993,580.989990,580.989990,17801500,2020,1,29
2413,2020-01-30,632.419983,650.880005,618.000000,640.809998,640.809998,29005700,2020,1,30
2414,2020-01-31,640.000000,653.000000,632.520020,650.570007,650.570007,15719300,2020,1,31
2415,2020-02-03,673.690002,786.140015,673.520020,780.000000,780.000000,47065000,2020,2,3

In [9]:
df.drop(["Date"],axis=1)

,Open,High,Low,Close,Adj Close,Volume,year,month,day
0,19.000000,25.000000,17.540001,23.889999,23.889999,18766300,2010,6,29
1,25.790001,30.420000,23.299999,23.830000,23.830000,17187100,2010,6,30
2,25.000000,25.920000,20.270000,21.959999,21.959999,8218800,2010,7,1
3,23.000000,23.100000,18.709999,19.200001,19.200001,5139800,2010,7,2
4,20.000000,20.000000,15.830000,16.110001,16.110001,6866900,2010,7,6
...,...,...,...,...,...,...,...,...,...
2411,568.489990,576.809998,558.080017,566.900024,566.900024,11788500,2020,1,28
2412,575.690002,589.799988,567.429993,580.989990,580.989990,17801500,2020,1,29
2413,632.419983,650.880005,618.000000,640.809998,640.809998,29005700,2020,1,30
2414,640.000000,653.000000,632.520020,650.570007,650.570007,15719300,2020,1,31
2415,673.690002,786.140015,673.520020,780.000000,780.000000,47065000,2020,2,3

In [11]:
from sklearn import linear_model

In [29]:
x=df[["year","month","day","High","Low"]]
y=df[["Open","Close"]]

In [30]:
reg=linear_model.LinearRegression()
reg.fit(x,y)

LinearRegression()

In [31]:
reg.predict([[2020,2,3,786.140015,673.520020]])

C:\Users\91824\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[717.09562566, 744.54235602]])

In [33]:
reg.predict([[2023,11,15,226.54,236.33]])

C:\Users\91824\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[234.57177792, 228.53482064]])

In [34]:
reg.predict([[2023,11,17,226.54,236.33]])

C:\Users\91824\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[234.57030438, 228.53627775]])